apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - service.yaml
  - deployment.yaml
namespace: default
# https://gap.gjensidige.io/docs/guides/ci-automation-with-kustomize
images:
- name: frontend
